* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
}

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --bg-color: #36454F;
    --text-color: #FFF;
    --gold-color: #BD9254;
    --navbar-height: 70px;
    --margin: 48px;
}

#navbar {
    display: flex;
    background-color: var(--bg-color);
    height: var(--navbar-height);
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--gold-color);
    gap: 24px;
}

#navbar button {
    color: var(--text-color);
    border: none;
    background-color: var(--bg-color);
    font-size: 1rem;
}

#navbar button:hover {
    border-bottom: 2px solid var(--gold-color);
    cursor: pointer;
}

#home,
#menu,
#about {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbar-height));
}

#home {
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
}

#menu {
    background-color: #FFF;
    align-items: center;
    padding: var(--margin);
}

#about {
    background-color: var(--bg-color);
    align-items: center;
    padding: var(--margin);
}

#about p {
    margin-top: var(--margin);
}

.white {
    color: var(--text-color);
}

.dark {
    color: var(--bg-color);
}

.gold {
    color: var(--gold-color);
}

p {
    max-width: 66ch;
    text-align: center;
}

.title {
    font-size: 3.5rem;
    position: relative;
    margin-bottom: var(--margin);
}

.title::before {
    content: "";
    position: absolute;
    top: calc(100% - 4px + var(--margin) / 2);
    height: 4px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 4px solid var(--gold-color);
}

.food-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    margin-top: var(--margin);
}
